{% extends "base.html" %}

{% block title %}
User Detail Page
{% endblock %}

{% block content%}
<div class="media p-3 mw-50">

  <img class=" mr-3 w-25" src="{{ user.image_url }}" alt="{{ user.first_name}} {{user.last_name }}">


  <div class="media-body">
    <h2 class="mt-0"> {{user.first_name}} {{user.last_name}} </h2>
    <a href="/users/{{ user.id }}/edit" class="btn btn-primary">Edit</a>

    <form action="/users/{{ user.id }}/delete" method="POST" style="display:inline;">
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>

    <h4>Posts</h4>

    <ul>
      {% for post in user.posts %}
      <li>
        <a href="/posts/{{ post.id}}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>

    <p><a href="/users/{{ user.id }}/posts/new" class="btn btn-primary">Add Post</a></p>

  </div>


</div>

{% endblock %}